.causes {
	.causes-left {
		background-image: url('../img/brazil-map-outline.svg');
		background-size: cover;
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
	}

	.causes-right {

	}
}